<h1>测试结果</h1>

<table border="1">
  <tr>
    <th>测试计划</th>
    <th>测试用例</th>
    <th>是否成功</th>
    <th>错误描述</th>
    <th>查看脚本</th>
  </tr>

<% @test_results.each do |test_result| %>
  <tr>
    <td><%= test_result.test_plan.name %></td>
    <td><%= test_result.test_case.title %></td>
    <td><% if test_result.test_result_flag%> 通过 <%else%> 不通过<%end%></td>
    <td><%if test_result.test_result_content %><%= test_result.test_result_content.html_safe %><%end%></td>
    <td><%= link_to '查看脚本', script_test_plan_url(:id=>test_result.test_script_id) ,:target=>"_blank" %></td>
  </tr>
<% end %>
</table>

<br />
